node_modules
dist
bin
obj
.build/
cmd/vortex-ui/build/
cmd/vortex-ui/.build/
cmd/vortex-ui/web/package.json.md5
cmd/vortex-ui/web/wailsjs/*.exe
*.exe
*.syso
.tmp
.tools/
/vortex
/vortex-host
/vortex-window
/vortex-setup
*.dmg